.notices {
    height: 100vh;
    &__container {
        height: 100vh;
        background-color: var(--white-100, #FFF);
        padding: 48px 40px 18px 40px;
    }
    &__table {
        margin-bottom: 24px;
    }

    .table__cell {
        &--name {
            width: 274px;
        }

        &--gender {
            width: 156px;
        }

        &--notice {
            width: 272px;
        }

        &--flight,
        &--plain-name {
            width: 273px;
        }

        &--details{
            width: 100px;
        }
    }
}