.notices {
    height: 100vh;
    &__container {
        height: 100vh;
        background-color: var(--white-100, #FFF);
        padding: 48px 40px 18px 40px;

        @include mxw($sm) {
            padding: 20px 20px 14px 20px;
            overflow-y: auto;
        }
    }
    &__table {
        margin-bottom: 24px;
    }

    .table__cell {
        &--name {
            width: 274px;
            @include mxw($sm) {
                width: 320px;
            }
        }

        &--gender {
            width: 156px;
        }

        &--notice {
            width: 272px;
        }

        &--flight,
        &--plain-name {
            width: 273px;
            @include mxw($sm) {
                width: 160px;
            }

        }

        &--details{
            width: 100px;
        }
    }
}