body,
html {
    background-color: #F5F5F7;
    color: $sidebar-text;
    font-family: 'Inter', sans-serif;
    line-height: 157.143%;
    font-weight: 550;
    font-size: 14px;
    font-style: normal;
    height: 100vh;
    width: 100%;
    display: flex;
    letter-spacing: -0.128px;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 316px 1fr;
}

.search-box {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        left: 14px;
        background-image: url('../images/sprite.svg#sidebar-search-icon');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.search {
    width: 100%;
    height: 40px;
    background-color: #fff;
    padding: 9px 12px 9px 44px;
    border: 1px solid #E7E8E9;
    box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    border: 1px solid #fff;
    color: #172B4D;

    &::placeholder {
        font-size: 14px;
        color: #A0A3A6
    }

    &:hover::placeholder {
        transition: border .3s linear, color .3s linear;
        color: #172B4D
    }

    &:focus {
        transition: border .3s ease-in-out;
        border: 1px solid #2563EB;
    }
}

.sidebar-active {
    background-color: #E6E9EF;
    color: #2563EB;
    border-radius: 4px;

    &::after {
        filter: invert(32%) sepia(98%) saturate(4220%) hue-rotate(217deg) brightness(98%) contrast(87%);
    }
}




//-------------------- Flight - page

//-- date filter
.date-wrapper {
    display: flex;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 1px;
        border-radius: 8px;
        background-color: #737373;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.date-box {
    position: relative;

    &:first-child {
        margin-right: 36px;
    }

    &::after {
        z-index: 1;
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        background-image: url('../images/icons/flights-calendar.svg');
        right: 16px;
        top: 8px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

.date {
    position: relative;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    padding: 12px 50px 12px 16px;
    color: #979A9D;
    border: 1px solid #E7E8E9;
    background-color: #fff;
    box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    max-width: 160px;

    &::placeholder {
        color: #979A9D;
    }
}

//-- selectors filter
.filter-selector-box {
    display: flex;
    align-items: center;
}

.filter-selector {
    color: #A0A3A6;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.128px;
    padding: 9px 40px 9px 12px;
    border: 1px solid #E7E8E9;
    background-color: #fff;
    margin-right: 24px;
    position: relative;
    transition: color .3s linear;

    &:last-child {
        margin-right: 0;
    }

    &::after {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        top: 8px;
        right: 8px;
        background-image: url('../images/icons/Chevron-Down-Small.svg');
        filter: invert(70%) sepia(9%) saturate(107%) hue-rotate(169deg) brightness(92%) contrast(91%);
    }

    &:focus {
        transition: border .3s ease-in-out;
        border: 1px solid #2563EB;
    }

    &.active {
        color: #2563EB;
        text-overflow: ellipsis;

        &::after {
            transform: rotate(180deg);
            filter: invert(25%) sepia(63%) saturate(3197%) hue-rotate(217deg) brightness(98%) contrast(89%);
        }
    }

    &:hover {
        color: #172B4D;
    }



}