body,
html {
    background-color: #F5F5F7;
    color: $sidebar-text;
    font-family: 'Inter', sans-serif;
    line-height: 157.143%;
    font-weight: 550;
    font-size: 14px;
    font-style: normal;
    height: 100vh;
    width: 100%;
    display: flex;  
    letter-spacing: -0.128px;
}

.search-box{
    position: relative;
    margin-bottom: 16px;
    &::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        left: 14px;
        background-image: url('../images/sprite.svg#sidebar-search-icon');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}   

.search{
    width: 100%;
    height: 40px;
    background-color: #fff;
    padding: 9px 0 9px 44px;

    &::placeholder{
        font-size: 14px;
    }
}

.sidebar-active{
    background-color: #E6E9EF;
    color: #2563EB;
    border-radius: 4px;
}
