body,
html {
    background-color: #F5F5F7;
    color: $sidebar-text;
    font-family: 'Inter', sans-serif;
    line-height: 157.143%;
    font-weight: 550;
    font-size: 14px;
    font-style: normal;
    height: 100vh;
    width: 100%;
    display: flex;
    letter-spacing: -0.128px;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 316px 1fr;
}

.search-box {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        left: 14px;
        background-image: url('../images/sprite.svg#sidebar-search-icon');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.search {
    width: 100%;
    height: 40px;
    background-color: #fff;
    padding: 9px 12px 9px 44px;
    border: 1px solid #E7E8E9;
    box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    border: 1px solid #fff;
    color: #172B4D;

    &::placeholder {
        font-size: 14px;
        color: #A0A3A6
    }

    &:hover::placeholder {
        transition: border .3s linear, color .3s linear;
        color: #172B4D
    }

    &:focus {
        transition: border .3s ease-in-out;
        border: 1px solid #2563EB;
    }
}

.sidebar-active {
    background-color: #E6E9EF;
    color: #2563EB;
    border-radius: 4px;

    &::after {
        filter: invert(32%) sepia(98%) saturate(4220%) hue-rotate(217deg) brightness(98%) contrast(87%);
    }
}

//-------------------- Flight - page

//-- date filter
.date-wrapper {
    display: flex;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 1px;
        border-radius: 8px;
        background-color: #737373;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.date-box {
    position: relative;

    &:first-child {
        margin-right: 36px;
    }
}

.date-btn {
    position: relative;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    padding: 12px 50px 12px 16px;
    color: #979A9D;
    border: 1px solid #E7E8E9;
    background-color: #fff;
    box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    max-width: 160px;

    &::placeholder {
        color: #979A9D;
    }

    &::after {
        z-index: 1;
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        background-image: url('../images/icons/flights-calendar.svg');
        right: 16px;
        top: 8px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

.datepicker {
    z-index: 100;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    width: 336px;
    padding: 19px 16px;
    border: 1px solid var(--Border-Light, #E7E8E9);
    background: var(--Background-Surface, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 12px 12px -8px rgba(0, 0, 0, 0.08);
    display: none;

    &.open {
        display: flex;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
    }

    &__arrows {
        width: 22px;
        height: 22px;
        position: relative;
        border-radius: 4px;
        transition: background-color .3s linear;

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: -50%;
            left: -50%;
            transform: translate(50%, 50%);
            background-image: url('../images/icons/Chevron-Down-Small.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            filter: invert(70%) sepia(9%) saturate(107%) hue-rotate(169deg) brightness(92%) contrast(91%);
        }

        &:hover {
            background-color: var(--Action-Light, rgba(35, 55, 55, 0.05));
        }

        &--right {
            transform: rotate(-90deg);
        }

        &--left {
            transform: rotate(90deg);
        }

    }

    &__center {
        span {
            &:first-child {
                margin-right: 4px;
            }

            padding: 5px 12px;
            border-radius: 4px;
            background-color: rgba(35, 55, 55, 0.05);
            transition: background-color .3s linear;
            cursor: default;

            &:hover {
                background-color: rgba(35, 55, 55, 0.1);
            }
        }
    }




}

.datepicker-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;

    &--days {
        margin-bottom: 12px;

        li {
            text-align: center;
            color: #D9DBDD;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: -0.128px;
            transition: background-color .3s linear;

            &:hover {
                background-color: var(--Action-Light, rgba(35, 55, 55, 0.05));
            }
        }
    }

    &--numbers li {
        position: relative;
        color: #2C2E30;
        padding: 5px 8px;
        text-align: right;
        border-radius: 4px;
        background: var(--Action-Light, rgba(35, 55, 55, 0.05));
        transition: background-color .3s linear;
        cursor: default;

        &:hover {
            background-color: var(--Action-Light, rgba(35, 55, 55, 0.15));
        }

        &.today {
            &:hover {
                background-color: var(--Action-Light, rgba(35, 55, 55, 0.05));
            }

            &::after {
                content: '';
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: #2563EB;
                border-radius: 50%;
                top: 13px;
                left: 8px;

            }
        }

        &.active {
            color: var(--Accent-Contrast, var(--white-100, #FFF));
            background-color: var(--Accent-Primary, #2563EB);

            &:hover {
                background-color: var(--Accent-Primary, #2563EB);
            }
        }

        &:nth-child(-n+2),
        &:nth-last-child(-n+2) {
            color: #A3A3A3;
            background-color: #fff;
        }

    }

    &__days {
        text-align: center;
    }
}

//-- selectors filter
.filter-selector-box {
    display: flex;
    align-items: center;
}

.filter-selector {
    color: #A0A3A6;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.128px;
    padding: 9px 40px 9px 12px;
    border: 1px solid #E7E8E9;
    background-color: #fff;
    margin-right: 24px;
    position: relative;
    transition: color .3s linear;

    &:last-child {
        margin-right: 0;
    }

    &::after {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        top: 8px;
        right: 8px;
        background-image: url('../images/icons/Chevron-Down-Small.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(70%) sepia(9%) saturate(107%) hue-rotate(169deg) brightness(92%) contrast(91%);
    }

    &:focus {
        transition: border .3s ease-in-out;
        border: 1px solid #2563EB;
    }

    &.active {
        color: #2563EB;
        text-overflow: ellipsis;

        &::after {
            transform: rotate(180deg);
            filter: invert(25%) sepia(63%) saturate(3197%) hue-rotate(217deg) brightness(98%) contrast(89%);
        }
    }

    &:hover {
        color: #172B4D;
    }



}

//------------------------------------------ Table
.table {
    border-collapse: collapse;
    border: 1px solid var(--Border-Light, #E7E8E9);
    background: var(--white-100, #FFF);
    box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);

    td span {
        font-size: 14px;
        font-weight: 550;
        line-height: 22px;
        letter-spacing: -0.128px;
    }

    &__id span,
    &__march span,
    &__date span,
    &__plain>span,
    &__number span {
        color: #979A9D;
    }

    &__airport>span,
    &__plain>span>span {
        position: relative;
        color: #2563EB;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            background-color: #2563EB;
            left: 0;
        }

    }

    &__type>span {
        color: #41B871;
        padding: 4px 8px;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.016px;
        border-radius: var(--12, 12px);
        background: rgba(110, 203, 144, 0.15);
    }

    &__details {
        border-radius: 6px;
        background-color: var(--Action-Light, rgba(35, 55, 55, 0.05));
        color: var(--Text-Primary, #2C2E30);
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        line-height: 12px;
        padding: 10px;
        transition: background-color .3s linear;

        &:hover {
            background-color: var(--Action-Light, rgba(35, 55, 55, 0.15));
        }
    }

}

.table thead th {
    text-align: left;
    color: #172B4D;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.128px;
    padding: 13px 16px;
}

.table thead tr {
    background-color: #FBFBFC;
}

.table tbody tr {
    border: 1px solid var(--Border-Light, #E7E8E9);
    background-color: #FBFBFC;

    &:nth-child(2n - 1) {
        background-color: #fff;
    }
}

.table tbody td {
    text-align: left;
    color: #172B4D;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.128px;
    padding: 13px 16px;
}

.table td:not(:last-child),
.table th:not(:last-child) {
    border-right: none;
    border-color: inherit;
}

//------------------------------------------ Pagination

.pagination {
    display: flex;
    justify-content: center;

    &__left {
        margin-right: 4px;  
    }
    &__right {
        transform: rotate(180deg);
    }

    &__left,
    &__right {
        width: var(--32, 32px);
        height: var(--32, 32px);
        border-radius: 6px;
        border: 1px solid var(--Border-Light, #E7E8E9);
        background: var(--white-100, #FFF);
        box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
        background-image: url('../images/icons/chevron-left.svg');
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat    ;
    }


    &__list {
        display: flex;
    }

    &__item {
        margin-right: 4px;

    }

    &__btn {
        width: var(--32, 32px);
        height: var(--32, 32px);
        text-align: center;
        padding: 10px 4px;
        color: #979A9D;
        font-size: 13px;
        font-weight: 600;
        line-height: 12px;
        border-radius: var(--4, 4px);
        transition: background .3s linear, color .3s linear;

        &.active {
            background-color: var(--Accent-Primary, #2563EB);
            color: #fff;

            &:hover {
                background-color: var(--Accent-Primary, #2563EB);
                color: #fff;
            }
        }

        &--dots {
            background: var(--Action-Light, rgba(35, 55, 55, 0.05));
        }

        &:hover {
            background: var(--Action-Light, rgba(35, 55, 55, 0.15));
            color: #2C2E30
        }
    }

}