body,
html {
    background-color: #F5F5F7;
    color: $sidebar-text;
    font-family: 'Inter', sans-serif;
    line-height: 157.143%;
    font-weight: 550;
    font-size: 14px;
    font-style: normal;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    letter-spacing: -0.128px;
    
}

