body,
html {
    background-color: #F5F5F7;
    color: $sidebar-text;
    font-family: 'Inter', sans-serif;
    line-height: 157.143%;
    font-weight: 550;
    font-size: 14px;
    font-style: normal;
    height: 100vh;
    width: 100%;
    letter-spacing: -0.128px;


    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px 10px #EBECF0;
        border-radius: 3px;
        border: solid 3px transparent;
    }

    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 10px 10px #42526E;
        border-radius: 30px;
        border: solid 3px transparent;
    }
}

.main-page {
    padding: 48px 40px 24px;
    height: 100vh;
}

.home-wrapper {
    display: grid;
    grid-template-columns: 316px 1fr 280px;
    justify-content: space-between;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 316px 1fr;
}

.container-table-page {
    padding: 48px 40px 24px 40px;
}

.breadcrumbs {
    position: relative;
    padding: 20px 58px 19px 64px;
    border-right: 1px solid #E4E7ED;
    background-color: var(--Background-Light, #FBFBFC);
    color: var(--Text-Primary, #2C2E30);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.176px;

    &::after {
        content: '';
        position: absolute;
        width: 32px;
        height: 32px;
        top: 16px;
        left: 24px;
        border-radius: 50%;
        border: 1px solid #E5E8EF;
        background-image: url('../images/sprite.svg#passenger-breadcrumbs');
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: center;
    }
}

.search-box {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        left: 14px;
        background-image: url('../images/sprite.svg#sidebar-search-icon');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.search {
    width: 100%;
    height: 40px;
    background-color: #fff;
    padding: 9px 12px 9px 44px;
    border: 1px solid var(--Border-Light, #E7E8E9);
    box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    color: #172B4D;

    &::placeholder {
        font-size: 14px;
        color: #A0A3A6
    }

    &:hover::placeholder {
        transition: border .3s linear, color .3s linear;
        color: #172B4D
    }

    &:focus {
        transition: border .3s ease-in-out;
        border: 1px solid #2563EB;
    }
}

.sidebar-active {
    background-color: #E6E9EF;
    color: #2563EB;
    border-radius: 4px;

    &::after {
        filter: invert(32%) sepia(98%) saturate(4220%) hue-rotate(217deg) brightness(98%) contrast(87%);
    }
}

.title {
    display: block;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.336px;
    color: #172B4D;
    padding: 6px 0 6px 52px;

    &::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        left: 0px;
        top: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &--main::after {
        background-image: url('../images/sprite.svg#main-title-icon');
    }

    &--inner::after {
        background-image: url('../images/sprite.svg#title-inner');
    }

    &--plane::after {
        background-image: url('../images/sprite.svg#title-plane');
    }

}

.popular-title {
    color: #172B4D;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.464px;
    margin-bottom: 4px;
}

.text-under-popular-title {
    margin-bottom: 23px;

    p {
        color: var(--Text-Secondary, #A0A3A6);
        font-size: 14px;
        font-weight: 450;
        line-height: 22px;
        letter-spacing: -0.128px;
    }
}

.flight-info {

    &__item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E4E7ED;
        padding-bottom: 12px;
        margin-bottom: 12px;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        &--loc {
            position: relative;
            padding-right: 32px;

            &::after {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                background-image: url('../images/sprite.svg#main-page-flight-location');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                top: 0;
                right: 0;
            }
        }
    }

    &__route {
        display: block;
        color: #A0A3A6;
        padding: 2px 0;
    }

    &__location {
        color: #172B4D;
        font-size: 16px;
        font-weight: 500;
        line-height: 162.5%;
        letter-spacing: -0.176px;
    }

}

//-------------------- Flights - page
//-- date filter
.flights-filters {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;

    &__left {
        display: flex;
    }

    &__search {
        width: 280px;
        margin-right: 24px;
    }

    &__box {
        display: flex;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 1px;
            border-radius: 8px;
            background-color: #737373;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__date {
        position: relative;

        &:first-child {
            margin-right: 36px;
        }
    }

    &__btn {
        position: relative;
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        padding: 12px 50px 12px 15px;
        color: #979A9D;
        border: 1px solid #E7E8E9;
        background-color: #fff;
        box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
        width: 160px;

        &::placeholder {
            color: #979A9D;
        }

        &::after {
            z-index: 1;
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            background-image: url('../images/icons/flights-calendar.svg');
            right: 16px;
            top: 8px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }

    //-- selectors filter
    &__right {
        display: flex;
        align-items: center;
    }

    &__selector {
        color: #A0A3A6;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.128px;
        padding: 9px 40px 9px 12px;
        border: 1px solid #E7E8E9;
        background-color: #fff;
        margin-right: 20px;
        position: relative;
        transition: color .3s linear;

        &:last-child {
            margin-right: 0;
        }

        &::after {
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            top: 8px;
            right: 8px;
            background-image: url('../images/icons/Chevron-Down-Small.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            filter: invert(70%) sepia(9%) saturate(107%) hue-rotate(169deg) brightness(92%) contrast(91%);
        }

        &:focus {
            transition: border .3s ease-in-out;
            border: 1px solid #2563EB;
        }

        &.active {
            color: #2563EB;
            text-overflow: ellipsis;

            &::after {
                transform: rotate(180deg);
                filter: invert(25%) sepia(63%) saturate(3197%) hue-rotate(217deg) brightness(98%) contrast(89%);
            }
        }

        &:hover {
            color: #172B4D;
        }
    }
}

.datepicker {
    z-index: 100;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    width: 336px;
    padding: 19px 16px;
    border: 1px solid var(--Border-Light, #E7E8E9);
    background: var(--Background-Surface, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 12px 12px -8px rgba(0, 0, 0, 0.08);
    display: none;

    &.open {
        display: flex;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
    }

    &__arrows {
        width: 22px;
        height: 22px;
        position: relative;
        border-radius: 4px;
        transition: background-color .3s linear;

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: -50%;
            left: -50%;
            transform: translate(50%, 50%);
            background-image: url('../images/icons/Chevron-Down-Small.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            filter: invert(70%) sepia(9%) saturate(107%) hue-rotate(169deg) brightness(92%) contrast(91%);
        }

        &:hover {
            background-color: var(--Action-Light, rgba(35, 55, 55, 0.05));
        }

        &--right {
            transform: rotate(-90deg);
        }

        &--left {
            transform: rotate(90deg);
        }

    }

    &__center {
        span {
            &:first-child {
                margin-right: 4px;
            }

            padding: 5px 12px;
            border-radius: 4px;
            background-color: rgba(35, 55, 55, 0.05);
            transition: background-color .3s linear;
            cursor: default;

            &:hover {
                background-color: rgba(35, 55, 55, 0.1);
            }
        }
    }
}

.datepicker-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;

    &--days {
        margin-bottom: 12px;

        li {
            text-align: center;
            color: #D9DBDD;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: -0.128px;
            transition: background-color .3s linear;

            &:hover {
                background-color: var(--Action-Light, rgba(35, 55, 55, 0.05));
            }
        }
    }

    &--numbers li {
        position: relative;
        color: #2C2E30;
        padding: 5px 8px;
        text-align: right;
        border-radius: 4px;
        background: var(--Action-Light, rgba(35, 55, 55, 0.05));
        transition: background-color .3s linear;
        cursor: default;

        &:hover {
            background-color: var(--Action-Light, rgba(35, 55, 55, 0.15));
        }

        &.today {
            &:hover {
                background-color: var(--Action-Light, rgba(35, 55, 55, 0.05));
            }

            &::after {
                content: '';
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: #2563EB;
                border-radius: 50%;
                top: 13px;
                left: 8px;

            }
        }

        &.active {
            color: var(--Accent-Contrast, var(--white-100, #FFF));
            background-color: var(--Accent-Primary, #2563EB);

            &:hover {
                background-color: var(--Accent-Primary, #2563EB);
            }
        }

        &:nth-child(-n+2),
        &:nth-last-child(-n+2) {
            color: #A3A3A3;
            background-color: #fff;
        }

    }

    &__days {
        text-align: center;
    }
}

//------------------------------------------ Table
.table {
    border-collapse: collapse;
    border: 1px solid var(--Border-Light, #E7E8E9);
    background: var(--white-100, #FFF);
    box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);

    &__header {
        background-color: #FBFBFC;
    }

    &__head-cell {
        text-align: left;
        color: #172B4D;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: -0.128px;
        padding: 13px 16px;
    }

    &__row {
        border: 1px solid var(--Border-Light, #E7E8E9);
        background-color: #FBFBFC;

        &:nth-child(2n - 1) {
            background-color: #fff;
        }

        &--red {
            background: linear-gradient(0deg, rgba(239, 68, 68, 0.10) 0%, rgba(239, 68, 68, 0.10) 100%), #FBFBFC;
        }
    }

    &__cell {
        height: 48px;
        text-align: left;
        padding: 7px 16px;
    }

    &__cell:not(:last-child),
    &__head-cell:not(:last-child) {
        border-right: none;
        border-color: inherit;
    }

    &__span {
        font-size: 14px;
        font-weight: 550;
        line-height: 22px;
        letter-spacing: -0.128px;
    }

    .gray-span {
        color: #979A9D;
    }

    .blue-span {
        position: relative;
        color: #2563EB;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            background-color: #2563EB;
            left: 0;
        }
    }

    &__type {
        padding: 4px 8px;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.016px;
        border-radius: var(--12, 12px);

        &--green {
            color: #41B871;
            background-color: rgba(110, 203, 144, 0.15);
        }

        &--red {
            color: var(--Error-Primary, #EF4444);
            background-color: rgba(255, 88, 88, 0.15);
        }

        &--yellow {
            background-color: #FBFCE3;
            color: #E9A800;
        }
    }

    &__btn {
        border-radius: 6px;
        background-color: var(--Action-Light, rgba(35, 55, 55, 0.05));
        color: var(--Text-Primary, #2C2E30);
        text-align: right;
        font-size: 13px;
        font-weight: 600;
        line-height: 12px;
        padding: 10px;
        transition: background-color .3s linear;

        &:hover {
            background-color: var(--Action-Light, rgba(35, 55, 55, 0.15));
        }
    }

    &__icon-btn {
        width: 24px;
        height: 24px;
        margin-right: 9px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &--good {
            background-image: url('../images/icons/table-document.svg');
        }

        &--bed {
            background-image: url('../images/icons/table-warning.svg');
        }

        &--link {
            display: inline-block;
            background-image: url('../images/icons/table-arrow-right.svg');
        }

    }
}

.blue-span {
    position: relative;
    color: #2563EB;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        background-color: #2563EB;
        left: 0;
    }
}

//------------------------------------------ Pagination
.pagination {
    display: flex;
    justify-content: center;

    &__left {
        margin-right: 8px;
    }

    &__right {
        transform: rotate(180deg);
    }

    &__arrows {
        width: var(--32, 32px);
        height: var(--32, 32px);
        border-radius: 6px;
        border: 1px solid var(--Border-Light, #E7E8E9);
        background: var(--white-100, #FFF);
        box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
        background-image: url('../images/icons/chevron-left.svg');
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }


    &__list {
        display: flex;
    }

    &__item {
        margin-right: 8px;

    }

    &__btn {
        width: var(--32, 32px);
        height: var(--32, 32px);
        text-align: center;
        padding: 10px 4px;
        color: #979A9D;
        font-size: 13px;
        font-weight: 600;
        line-height: 12px;
        border-radius: var(--4, 4px);
        transition: background .3s linear, color .3s linear;

        &.active {
            background-color: var(--Accent-Primary, #2563EB);
            color: #fff;

            &:hover {
                background-color: var(--Accent-Primary, #2563EB);
                color: #fff;
            }
        }

        &--dots {
            background: var(--Action-Light, rgba(35, 55, 55, 0.05));
        }

        &:hover {
            background: var(--Action-Light, rgba(35, 55, 55, 0.15));
            color: #2C2E30
        }
    }



}
//------------------------------------------

.processing-btn {
    padding: 18px 0;
    text-align: center;
    width: 185px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 92.308%;
    letter-spacing: -0.04px;

    &--proc {
        background-color: #2563EB;
    }

    &--remove {
        background-color: #fff;
        border: 1px solid #E7E8E9;
        color: #2C2E30;
    }
}

.list {
    width: 724px;
    padding: 16px;
    border: 1px solid #E4E7ED;
    background-color: #fff;
    margin-bottom: 24px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid #E4E7ED;

    &:first-child {
        padding: 0 0 14px;
    }

    &:last-child {
        padding: 14px 0 0 0;
        border-bottom: none;
    }
}

.text {
    color: #A0A3A6;

    span {
        color: #EF4444;
        font-size: 12px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 0.016px;
        padding: 4px 8px;
        border-radius: 12px;
        background-color: rgba(255, 88, 88, 0.15);
    }
}

.info {
    position: relative;
    display: block;
    color: #172B4D;
    font-size: 16px;
    font-weight: 500;
    line-height: 162.5%;
    letter-spacing: -0.176px;


    &--location,
    &--calendar,
    &--gender {
        padding-right: 32px;

        &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            top: 0;
            right: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &--location::after {
        background-image: url("../images/sprite.svg#main-page-flight-location");
    }

    &--calendar::after {
        background-image: url("../images/sprite.svg#passenger-calendar-icon");
    }

    &--gender::after {
        background-image: url("../images/sprite.svg#passenger-gender-icon");
    }

    &--type {
        padding: 3px 13px;
        color: var(--Info-Primary, #3B82F6);
        font-size: 12px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 0.016px;
        border-radius: 12px;
        background-color: #DBEAFE;
    }
}

.ticket {
    overflow-y: auto;
    height: auto;
    height: calc(100vh - 145px);

    &::-webkit-scrollbar {
        display: none;
    }

    &__item {
        background: #fff;
        display: grid;
        grid-template-columns: 242px 1fr;
        height: auto;
        justify-content: space-between;
        border: 1px solid #E4E7ED;
    }

    &__box {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__left {

        position: relative;
        padding: 24px 24px 24px 19px;
        border-left: 5px solid #2563EB;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 16px;
            right: 0;
            top: 0;
            background-image: url("../images/sprite.svg#ticket__deco");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__name {
        position: relative;
        display: block;
        color: #172B4D;
        font-size: 24px;
        font-weight: 600;
        line-height: 133.333%;
        letter-spacing: -0.464px;
        margin-right: 24px;

        span {
            display: block;
            color: #A0A3A6;
            font-size: 16px;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.176px;
            margin-top: 6px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 43px;
            height: 36px;
            right: 0;
            top: 0;
            background-image: url("../images/sprite.svg#ticket__planes-icon");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__id {
        width: 105px;
        position: relative;
        color: #172B4D;
        padding-right: 32px;
        display: inline-block;

        &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            right: 0;
            top: -1px;
            background-image: url("../images/sprite.svg#passenger-calendar-icon");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__right {
        position: relative;
        background: #fff;
        padding: 24px 24px 24px 24px;


        &::after {
            content: '';
            position: absolute;
            width: 155px;
            height: 100%;
            top: 0;
            right: 0;
            background-image: url("../images/sprite.svg#plane");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__title {
        display: block;
        font-weight: 600;
        color: #172B4D;
        margin-bottom: 8px;
    }

    &__info {
        display: grid;
        grid-template-columns: 157px 139px 1fr;
        gap: 16px 25px;
    }

    &__description {
        display: block;
        color: #A0A3A6;
        margin-bottom: 7px;
    }

    &__text {
        position: relative;
        display: inline-block;
        color: #172B4D;
        padding-right: 34px;

        &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &--location::after {
            background-image: url("../images/sprite.svg#main-page-flight-location");
        }

        &--calendar::after {
            background-image: url('../images/sprite.svg#passenger-calendar-icon');
        }
    }
}

.database-btn {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.18px;
    padding: 12px 20px;
    background-color: #2563EB;
}


// Section: flight-details; airplane-details;

.left-details {
    &__back {
        display: block;
    }

    &__box {
        height: calc(100vh - 63px);
        padding: 24px;
        background-color: var(--Background-Light, #FBFBFC);
        border: 1px solid #e4e7ed;
        border-left: transparent;
    }

    &__img {
        margin-bottom: 24px;
        object-fit: contain;
    }

    &__march {
        color: var(--Text-Primary, #2C2E30);
        font-size: 24px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: -0.464px;
        margin-bottom: 16px;
    }

    &__id {
        display: block;
        color: var(--Text-Secondary, #A0A3A6);
        font-size: 14px;
        font-weight: 450;
        line-height: 22px;
        letter-spacing: -0.128px;
        margin-bottom: 4px;
    }

    &__num {
        display: block;
        color: var(--Text-Primary, #2C2E30);
        font-size: 16px;
        font-weight: 450;
        line-height: 26px;
        letter-spacing: -0.176px;
        margin-bottom: 24px;
    }

    &__btn {
        display: block;
        text-align: center;
        padding: 12px 50px;
        background-color: #091E42;
        color: var(--Accent-Contrast, var(--white-100, #FFF));
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: -0.128px;
        margin-bottom: 16px;
        box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
        transition: background-color .3s linear;

        &:last-child {
            margin-bottom: 0;
        }

        &--blue {
            background-color: var(--Accent-Primary, #2563EB);
        }

        &:hover {
            background-color: rgba(37, 99, 235, .8);
        }
    }

}

.main-details {
    &__header {
        display: flex;
        width: 100%;
        height: 64px;
        background-color: var(--Background-Light, #FBFBFC);
        border-bottom: 1px solid #e4e7ed;
    }

    &__header-title {
        position: relative;
        color: var(--Text-Secondary, #A0A3A6);
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: -0.128px;
        padding: 28px 26px 20px 26px;

        &.active {
            color: var(--Accent-Primary, #2563EB);

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #2563EB;
            }
        }
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr 512px;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__center {
        padding: 24px;
    }

    &__list,
    &__roster {
        border: 1px solid #E4E7ED;
        background: var(--white-100, #FFF);
        padding: 16px;
        margin-bottom: 28px;
    }

    &__roster {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        margin-bottom: 0;
        max-height: 295px;
        overflow-y: auto;
    }
}

.passenger-cards {
    &__item {
        display: flex;
        position: relative;
        align-items: center;
        padding: 14px 12px;
        background-color: #F5F5F7;
    }

    &__img {
        object-fit: contain;
        margin-right: 10px;
    }


    &__link {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../images/flight-details/arrow-right.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 6px;
        transition: background-color .3s linear;

        &:hover {
            background-color: var(--Action-Light, rgba(35, 55, 55, 0.15));
        }
    }

}

.right-details {
    border-left: 1px solid #E4E7ED;
    background: #FBFBFC;
    padding: 24px;



    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    &__title {
        margin-right: 12px;
    }

    &__count {
        padding: 2px 8px;
        border-radius: 4px;
        background: var(--Action-Light, rgba(35, 55, 55, 0.05));
        color: var(--Text-Secondary, #A0A3A6);
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5;
    }

    &__group {
        margin-bottom: 25px;
    }

    &__list {
        height: 830px;
        overflow-y: auto;
    }

    &__item {
        margin-bottom: 16px;
    }
}


// Popup
.popup {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(58, 58, 58, 0.7);
    z-index: 10000;

    &.active {
        display: block;
        max-height: 100%;
    }


    &__card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 451px;
        padding: 24px;
        background: #fff;
    }

    &__title {
        display: block;
        color: #172B4D;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.336px;
        margin-bottom: 8px;
    }

    &__text {
        display: block;
        color: #A0A3A6;
        margin-bottom: 32px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


