@import 'vars';
@import 'fonts';
@import 'reset';
@import 'lips';
@import 'mixin';
@import 'global';



@import './components/_sidebar.scss';

@import './main-page/_statistics.scss';
@import './main-page/_flight.scss';
@import './main-page/_suspicion.scss';
@import './main-page/_users.scss';

@import './passenger-page/_passenger.scss';

@import './bd-page/_bd.scss';
@import './bd-page/_bd-result.scss';




@import './components/_flights.scss';
@import './flight-details/_flight-details.scss';

@import './notices/_notices.scss';

