@import 'vars';
@import 'fonts';
@import 'reset';
@import 'lips';
@import 'mixin';
@import 'global';



@import './components/_sidebar.scss';
@import './main-page/_statistics.scss';
@import './main-page/_flight.scss';
@import './main-page/_suspicion.scss';


