.passenger-wrapper {
    display: grid;
    grid-template-columns: 316px 1fr;
}

.passenger {
    position: relative;
    width: 100%;

    &__navigation {
        display: flex;
        align-items: center;
        background-color: #FBFBFC;
        border-bottom: 1px solid #E4E7ED;
    }

    &__tabs {
        display: flex;
        background-color: #FBFBFC;
    }

    &__btn {
        position: relative;
        color: #A0A3A6;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: -0.128px;
        padding: 24px 26px;

        &.active {
            color: #2563EB;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #2563EB;
                bottom: 0;
                left: 0;
            }
        }
    }

    &__info-box {
        display: none;

        &.show {
            display: block;
            display: grid;
            grid-template-columns: 320px 1fr 512px;
            justify-content: space-between;
            height: calc(100vh - 65px);
        }

        &--operative {
            &.show {
                grid-template-columns: 320px 1fr 412px;
            }
        }
    }

    &__main-info {
        width: 320px;
        padding-top: 24px;
        border-right: 1px solid #E4E7ED;
        background: #FBFBFC;
    }

    &__photo {
        margin: 0 24px 24px;
        width: 272px;
        height: 282px;
        object-fit: cover;
    }

    &__name {
        display: block;
        color: #2C2E30;
        font-size: 24px;
        font-weight: 600;
        line-height: 133.333%;
        letter-spacing: -0.464px;
        padding: 0 24px;
    }

    &__contacts {
        padding: 16px 24px 24px;
    }

    &__contact-method {
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text {
        color: #A0A3A6;
        font-weight: 450;
        line-height: 157.143%;
        letter-spacing: -0.128px;
        margin-bottom: 4px;
    }

    &__contact {
        color: #2C2E30;
        font-size: 16px;
        font-weight: 450;
        line-height: 162.5%;
        letter-spacing: -0.176px;
    }

    &__count {
        padding: 8px 12px;
        background-color: #E4E7ED;
        margin: 0 16px 24px;
    }

    &__count-item {
        display: block;
        color: #223058;
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__warning {
        position: relative;
        text-align: center;
        margin: 0 24px;
        padding-top: 56px;
        background: #DC2626;
        box-shadow: 0px 8px 12px 0px rgba(9, 30, 66, 0.15);

        &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            top: 16px;
            left: 50%;
            transform: translateX(-50%);
            background-image: url('../images/sprite.svg#passenger-warning');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__warning-title {
        display: block;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 16px;

        span {
            display: block;
            font-weight: 400;
            font-size: 14px;
        }
    }

    &__decision {
        padding: 6px 31.5px;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        line-height: 20px;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.10);
        margin-bottom: 16px;
    }

    &__passport-details {
        overflow-y: auto;
        height: auto;
        padding: 24px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__passport-details-inner {
        padding: 24px 24px 0 24px;
    }

    &__passport-title {
        margin-bottom: 16px;
    }

    &__passport-item {
        &--inner {
            display: flex;
            flex-direction: column;
        }
    }

    &__passport-text {
        &--inner {
            margin: 14px 0 4px 0;
        }
    }

    &__passport-list {
        padding: 16px;
        border: 1px solid #E4E7ED;
        background-color: #fff;
        margin-bottom: 24px;
    }

    &__visa-info {
        display: block;
        color: #172B4D;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.176px;
        margin-bottom: 16px;
    }

    &__fligh {
        border-left: 1px solid #E4E7ED;
        background: #FBFBFC;
        padding: 24px 24px 24px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__flight-btn {
        display: flex;
        justify-content: space-between;
    }

    &__flight-processing {
        padding: 18px 0;
        text-align: center;
        width: 224px;
        border-radius: 5px;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        line-height: 92.308%;
        letter-spacing: -0.04px;

        &--proc {
            background-color: #2563EB;
        }

        &--remove {
            background-color: #fff;
            border: 1px solid #E7E8E9;
            color: #2C2E30;
        }
    }

    &__flight-title {
        margin-bottom: 16px;
    }

    &__flight-list {
        // max-width: 464px;
        padding: 16px;
        border: 1px solid #E4E7ED;
        background-color: #fff;
        margin-bottom: 20px;
    }

    &__flight-info {
        position: relative;
        color: #172B4D;

        &--location,
        &--calendar {
            padding-right: 32px;

            &::after {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                top: 0;
                right: 0;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }

        &--location::after {
            background-image: url("../images/sprite.svg#main-page-flight-location");
        }

        &--calendar::after {
            background-image: url("../images/sprite.svg#passenger-calendar-icon");
        }

        &--success {
            color: #41B871;
        }

        &--dengerous {
            color: #DE350B;
        }
    }

    &__inner-item {
        padding: 16px 24px 0;
        display: flex;
        flex-direction: column;
    }

    &__media-item {
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__media-btn {
        color: #A0A3A6;

        font-weight: 600;
        line-height: 157.143%;
        letter-spacing: -0.128px;
        padding: 10px;

        &.active {
            color: #2C2E30;
            border-radius: 6px;
            background: rgba(35, 55, 55, 0.05);
        }
    }

    &__media-info {
        display: none;

        &.show {
            display: block;
        }
    }

    &__media-title {
        justify-content: space-between;
        display: flex;
    }

    &__media-tabs {
        padding: 0 12px;
        display: flex;
    }

    &__link-box {
        position: relative;
        border: 1px solid #E4E7ED;
        background-color: #fff;
        padding: 10px 0;
        border: 1px solid #E4E7ED;
        text-align: center;
    }

    &__media-link {
        position: relative;
        color: #172B4D;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.052px;
        background-color: #fff;

        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            left: -22px;
            top: 0;
            background-image: url("../images/sprite.svg#passenger-url-icon");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__media-reload {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 14px;
        right: 24px;
        background-image: url("../images/sprite.svg#reload-icon");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__media-img {
        width: 724px;
        height: 505px;
        object-fit: cover;
        margin: 0 auto 24px;
    }

    &__mates-list {
        overflow-y: scroll;
        height: calc(100vh - 783px);
        padding: 16px;
        border: 1px solid #E4E7ED;
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 10px 10px #EBECF0;
            border-radius: 3px;
            border: solid 3px transparent;
        }

        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 10px 10px #42526E;
            border-radius: 30px;
            border: solid 3px transparent;
        }
    }

    &__mate {
        position: relative;
        margin: 0 10px 14px 0;
    }

    &__mate-img {
        position: absolute;
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__mate-name {
        color: #172B4D;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.44px;
        margin-bottom: 4px;
        padding-left: 50px;
    }

    &__mate-link {
        display: block;
        color: #2563EB;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.44px;
        padding-left: 50px;
    }

    &__social-media {
        border-left: 1px solid #E4E7ED;
        background-color: #FBFBFC;
        padding: 16px 24px 24px 24px;
    }

    &__social-conection {
        width: 465px;
        height: 894px;
        object-fit: cover;
    }

    &__more-inforamation {
        border-left: 1px solid #E4E7ED;
        background: #FBFBFC;
        padding: 24px 24px 24px 24px;
    }

    &__flight-travellers {
        display: block;
        color: #172B4D;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.176px;
        margin-bottom: 16px;
    }

    &__travellers-item {
        position: relative;
        padding: 14px 12px;
        display: flex;
        align-items: center;
        background: #F5F5F7;
        margin-bottom: 8px;
    }

    &__travellers-box {
        position: relative;
        margin-right: 10px;
    }

    &__travellers-img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__travellers-count {
        position: absolute;
        display: block;
        color: #E9A800;
        font-size: 11px;
        line-height: normal;
        padding: 2px 6px;
        border-radius: 50px;
        border: 1px solid #E7E8E9;
        background-color: #fff;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);

        &--orange {
            color: #E9A800;
        }

        &--green {
            color: #41B871;
        }
    }

    &__travellers-name {
        display: block;
        color: #172B4D;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.44px;
        margin-bottom: 4px;
    }

    &__travellers-history {
        display: block;
        color: #A0A3A6;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.44px;
    }

    &__travellers-account {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 18px;
        right: 12px;
        background-image: url('../images/sprite.svg#sidebar-searchCountry-icon');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: rotate(180deg);
    }

    &__operation-list {
        border: 1px solid #E4E7ED;
        background: var(--white-100, #FFF);
        display: none;

        &.show {
            display: block;
            margin-bottom: 24px;
        }

    }

    &__operation-item {
        padding: 14px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #E4E7ED;
    }

    &__operation-text {
        max-width: 221px;
    }

    &__operation-info {
        max-width: 418px;
        width: 100%;
    }

    &__protocol-list,
    &__conclusion-list {
        border: 1px solid #E4E7ED;
        background-color: #fff;
        margin-bottom: 16px;
    }

    &__protocol-item {
        padding: 16px 40px 16px 0;
        border-bottom: 1px solid #e4e7ed;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__protocol-files {
        position: relative;
        padding-left: 45px;

        &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            top: 0;
            left: 15px;
            background-image: url('../images/sprite.svg#passenger-doc-icon');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__protocol-name {
        display: block;
        position: relative;
        display: block;
        color: #2563EB;
        font-size: 16px;
        font-weight: 500;
        line-height: 162.5%;
        letter-spacing: -0.176px;
        margin-bottom: 6px;
    }

    &__protocol-theme {
        width: 280px;
    }

    &__protocol-description,
    &__protocol-date {
        display: block;
        color: #A0A3A6;
        line-height: normal;
        font-weight: 600;
        font-size: 12px;
    }

    &__protocol-goal {
        line-height: normal;
        display: block;
        color: #172B4D;
        margin-bottom: 8px;
    }


    &__conclusion-item {
        padding: 16px 16px 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e4e7ed;
    }

    &__conclusion-box {
        max-width: 397px;
        width: 100%;
    }

    &__conclusion-title {
        color: #172B4D;
        display: block;
    }

    &__conclusion-level {
        position: relative;
        color: #A0A3A6;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.016px;
        padding-left: 14px;

        &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
        }

        &--green::after {
            background-color: #41B871;
        }

        &--orange::after {
            background-color: #E9A800;
        }

        &--red::after {
            background-color: #DE350B;
        }
    }

    &__conclusion-description {
        p {
            max-width: 308px;
        }
    }



}