.airport-wrapper {
    display: grid;
    grid-template-columns: 316px 1fr;
}

.airport {
    &__navigation {
        display: flex;
        align-items: center;
        background-color: #FBFBFC;
        border-bottom: 1px solid #E4E7ED;
    }

    &__breadcrumbs{
        // padding: 20px 63px 19px 64px;
        border-bottom: none;

        @include mxw($sm) {
            // padding: 20px 30px 20px 50px;
            width: 273px;
            &::after{
                left: 10px;
            }
        }
    }

    &__tabs {
        align-items: center;
        display: flex;
        background-color: #FBFBFC;
        border-left:1px solid #E4E7ED ;
        @include mxw($md) {
            zoom: 80%;
        }
    }

    &__btn {
        position: relative;
        color: #A0A3A6;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: -0.128px;
        padding: 24px 26px;

        &.active {
            color: #2563EB;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #2563EB;
                bottom: 0;
                left: 0;
            }
        }
    }

    &__info-box {
        display: none;

        &.show {
            display: block;
            display: grid;
            grid-template-columns: 320px 1fr 412px;
            justify-content: space-between;
            height: calc(100vh - 65px);
        }

        @include mxw($lg) {
            &.show {
                grid-template-columns: 320px 1fr  380px;
            }
        }
        @include mxw($md) {
            &.show {
                grid-template-columns: 256px 1fr  280px;
                height: calc(100vh - 53px);
            }
        }

        @include mxw($sm) {
            &.show {
                grid-template-columns: 219px 1fr  240px;
            }
        }
    }


    &__main-info {
        padding: 24px;
        border-right: 1px solid #E4E7ED;
        background: #FBFBFC;
        @include mxw($md) {
            zoom: 80%;
        }
    }

    &__main-title {
        color: #2C2E30;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.464px;
        margin-bottom: 16px;
    }

    &__main-item {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text {
        color: #A0A3A6;
        font-weight: 450;
        line-height: 22px;
        display: block;
        margin-bottom: 4px;
    }

    &__info {
        color: #2C2E30;
        font-size: 16px;
        font-weight: 450;
        line-height: 26px;
        letter-spacing: -0.176px;
    }

    &__details {
        padding: 24px;

        &--scroll {
            overflow-y: auto;
            height: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        @include mxw($sm) {
            padding: 16px;
        }
    }

    &__details-top {
        position: relative;
    }

    &__details-title {
        margin-bottom: 20px;
    }

    &__details-count {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #A0A3A6;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.016px;
        padding: 2px 8px;
        border-radius: 4px;
        background: rgba(35, 55, 55, 0.05);
    }


    &__card-item {
        display: grid;
        grid-template-columns: 256px 1fr;
        margin-bottom: 24px;

        @include mxw($lg) {
            zoom: 90%;
        }
        @include mxw($sm) {
            zoom: 78%;
        }
    }

    &__card-left {
        padding: 24px 24px 24px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 5px solid #2563EB;
        background-color: #FBFBFC;
    }

    &__card-info {
        position: relative;
    }

    &__card-title {
        color: #172B4D;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.464px;
        margin-bottom: 6px;
    }

    &__card-number {
        color: #A0A3A6;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.176px;
    }

    &__card-btn {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #2563EB;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("../images/sprite.svg#airport-arrow");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__card-type {
        display: block;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.016px;
        text-align: center;
        padding: 4px;
        border-radius: 12px;


        &--red {
            width: 68px;
            color: #EF4444;
            background-color: rgba(255, 88, 88, 0.15);
        }

        &--orange {
            width: 112px;
            color: #E9A800;
            background-color: #FBFCE3;
            ;
        }

        &--green {
            width: 115px;
            color: #41B871;
            background-color: rgba(110, 203, 144, 0.15);
        }
    }

    &__card-right {
        position: relative;
        padding: 24px;
        border: 1px solid #E4E7ED;
        background-color: #fff;

        &::after {
            content: '';
            position: absolute;
            width: 190px;
            height: 206px;
            top: 50%;
            transform: translateY(-50%);
            right: 0px;
            background-image: url("../images/sprite.svg#airport-plane");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__info-list {

        display: grid;
        grid-template-columns: 122px 150px;
        gap: 16px 48px;
    }

    &__info-name {
        color: #A0A3A6;
    }

    &__info-text {
        padding-top: 7px;
        display: block;
        color: #172B4D;
        line-height: 22px;

        &--blue {
            color: #2563EB;
        }
    }

    &__statistic {
        border-left: 1px solid #E4E7ED;
        background: #FBFBFC;
        padding: 24px 24px 24px 19px;

        @include mxw($sm) {
            padding: 16px;
        }
    }

    &__statistic-title {
        margin-bottom: 24px;
    }

    &__statistic-list {
        padding: 16px;
        border: 1px solid #E4E7ED;
        background-color: #fff;

        @include mxw($md) {
            zoom: 80%;
        }
    }

    &__statistic-info {
        color: #172B4D;
    }

    &__table {
        margin-bottom: 26px;

        &--history {
            margin-bottom: 18px;
        }
    }

    &__table-row {
        color: #979A9D;
    }

    &__table-item {

        &--blue {
            color: #0052CC;
        }
    }

    &__table-text {
        padding: 2px 0 8px 16px;

        &--id {
            width: 112px;
        }

        &--airport {
            width: 190px;
        }

        &--departure {
            width: 195px;
            @include mxw($sm) {
                width: 140px;
            }
        }

        &--boeing {
            width: 135px;
        }

        &--terminal {
            padding: 6px 16px 8px 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__pagination {
        margin-bottom: 26px;

        &--bottom {
            margin-bottom: 0;
        }
    }

    &__filters {
        margin-bottom: 24px;
    }
}