.flights-details-wrapper {
    display: grid;
    grid-template-columns: 316px 1fr;
    justify-content: space-between;
    height: 100vh;
}

.flight-details {
    &__container {
        display: grid;
        grid-template-columns: 320px 1fr;
        justify-content: space-between;
    }
}

