.flights-details-wrapper {
    display: grid;
    grid-template-columns: 316px 1fr;
    justify-content: space-between;
    height: 100vh;
}

.flight-details {
    &__container {
        display: grid;
        grid-template-columns: 320px 1fr;
        justify-content: space-between;
    }
}

.left-details {
    &__back {
        display: block;
    }

    &__box {
        height: calc(100vh - 63px);
        padding: 24px;
        background-color: var(--Background-Light, #FBFBFC);
        border: 1px solid #e4e7ed;
        border-left: transparent;
    }

    &__img {
        margin-bottom: 24px;
        object-fit: contain;
    }

    &__march {
        color: var(--Text-Primary, #2C2E30);
        font-size: 24px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: -0.464px;
        margin-bottom: 16px;
    }

    &__id {
        display: block;
        color: var(--Text-Secondary, #A0A3A6);
        font-size: 14px;
        font-weight: 450;
        line-height: 22px;
        letter-spacing: -0.128px;
        margin-bottom: 4px;
    }

    &__num {
        display: block;
        color: var(--Text-Primary, #2C2E30);
        font-size: 16px;
        font-weight: 450;
        line-height: 26px;
        letter-spacing: -0.176px;
        margin-bottom: 24px;
    }

    &__btn {
        display: block;
        text-align: center;
        padding: 12px 50px;
        background-color: #091E42;
        color: var(--Accent-Contrast, var(--white-100, #FFF));
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: -0.128px;
        margin-bottom: 16px;
        box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
        transition: background-color .3s linear;
        &:last-child {
            margin-bottom: 0;
        }

        &--blue {
            background-color: var(--Accent-Primary, #2563EB);
        }

        &:hover {
            background-color: rgba(37,99,235, .8);
        }
    }




}

.main-details {
    &__header {
        width: 100%;
        height: 63px;
        background-color: var(--Background-Light, #FBFBFC);
        border-bottom: 1px solid #e4e7ed;
    }

    &__header-title {
        position: relative;
        color: var(--Accent-Primary, #2563EB);
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: -0.128px;
        padding: 28px 26px 20px 26px;
        max-width: 142px;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #2563EB;
        }
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr 512px;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__center {
        padding: 24px;
    }

    &__list,
    &__roster {
        border: 1px solid #E4E7ED;
        background: var(--white-100, #FFF);
        padding: 16px;
        margin-bottom: 28px;
    }

    &__roster {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        margin-bottom: 0;
        max-height: 295px;
        overflow-y: auto;
    }
}

.passenger-cards {
    &__item {
        display: flex;
        position: relative;
        align-items: center;
        padding: 14px 12px;
        background-color: #F5F5F7;
    }

    &__img {
        object-fit: contain;
        margin-right: 10px;
    }


    &__link {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../images/flight-details/arrow-right.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 6px;
        transition: background-color .3s linear;

        &:hover {
            background-color: var(--Action-Light, rgba(35, 55, 55, 0.15));
        }
    }

}


.right-details {
    border-left: 1px solid #E4E7ED;
    background: #FBFBFC;
    padding: 24px;



    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    &__title {
        margin-right: 12px;
    }

    &__count {
        padding: 2px 8px;
        border-radius: 4px;
        background: var(--Action-Light, rgba(35, 55, 55, 0.05));
        color: var(--Text-Secondary, #A0A3A6);
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5;
    }

    &__group {
        margin-bottom: 25px;
    }

    &__list {
        height: 830px;
        overflow-y: auto;
    }

    &__item {
        margin-bottom: 16px;
    }

}