.flights-details-wrapper {
    display: grid;
    grid-template-columns: 316px 1fr;
    justify-content: space-between;
    height: 100vh;
}

.flight-details {
    &__container {
        display: grid;
        grid-template-columns: 320px 1fr;
        justify-content: space-between;

        @include mxw($md) {
            grid-template-columns: 245px 1fr;
        }
    }

    &__left{
        background-color: var(--Background-Light, #FBFBFC);
        border: 1px solid #e4e7ed;
        border-left: transparent;
    }
}

