.flights {
	width: 100%;
	background: var(--white-100, #FFF);
    
	.table__cell {
		&--id {
            width: 120px;
        }

        &--march {
            width: 215px;
        }

        &--date {
            width: 206px;
        }

        &--airport {
            width: 210px;
        }

        &--details {
            text-align: right;
        }

        &--plain-info{
            width: 214px;
        }

        &--type{
            width: 137px;
        }
	}
}

.flights-table {
	margin-bottom: 16px;
}


