.sidebar {
    @include mxw($md) {
        zoom: 80%;
    }

    border-right: 1px solid #E4E7ED;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__logo {
        padding: 16px 0 16px 16px;
        img {
            width: 170px;
            height: 32px;
            object-fit: cover;
        }
    }

    &__navigation {
        padding: 16px 8px;
        border-top: 1px solid #E4E7ED;
        border-bottom: 1px solid #E4E7ED;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__search-box {
        margin-bottom: 16px;
    }

    &__btn {
        position: relative;
        padding: 12px 12px 9px 44px;
        width: 100%;
        display: inline-block;
        padding-left: 44px;

        &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            top: 8px;
            left: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &--main::after {
            background-image: url('../images/sprite.svg#sidebar-main-icon');
        }

        &--flights::after {
            background-image: url('../images/sprite.svg#sidebar-flights-icon');
        }

        &--passengers::after {
            background-image: url('../images/sprite.svg#sidebar-passengers-icon');
        }

        &--planes::after {
            background-image: url('../images/sprite.svg#sidebar-planes-icon');
        }

        &--notifications::after {
            background-image: url('../images/sprite.svg#sidebar-notifications-icon');
        }
    }

    &__location {
        position: relative;
        width: 100%;
        background-color: #fff;
        padding: 8px 12px;
    }

    &__location-item {
        height: 24px;
        display: flex;
        align-items: center;
    }

    &__flag {
        width: 24px;
        height: 16px;
        object-fit: cover;
        margin-right: 8px;
    }

    &__country {
        position: relative;
        width: 100%;
        font-weight: 600;
        color: #172B4D;
    }

    &__select-country {
        width: 32px;
        height: 26px;
        border-radius: 4px;
        background-image: url('../images/sprite.svg#sidebar-searchArrow-icon');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 6px;
        background-color: #fff;

        &:hover {

            background-color: rgba(35, 55, 55, 0.05);
            transition: background-color 0.3s linear;
        }
    }

    &__account {
        display: flex;
        padding: 16px 8px 16px 8px;
    }

    &__account-img {
        margin-right: 12px;
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__account-info {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    &__account-name {
        color: #172B4D;
        font-weight: 600;
        line-height: 22px; /* 157.143% */
    }

    &__account-position {
        display: block;
        color: var(--Text-Secondary, #A0A3A6);
        font-weight: 450;
        font-size: 12px;
        line-height: 18px; /* 150% */
    }

    &__account-btn {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background-image: url('../images/sprite.svg#sidebar-searchCountry-icon');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 6px;
        background-color: #F5F5F7;

        &:hover {

            background-color: rgba(35, 55, 55, 0.05);
            transition: background-color 0.3s linear;
        }
    }
}