<section class="sidebar">
    <img class="sidebar__logo" src="images/Logo.png" alt="logo">
    <div class="sidebar__navigation">
        <input class="sidebar__search" type="text" placeholder="dada" ></input>
        <nav class="sidebar__menu">
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="" class="sidebar__btn">Главная</a>
                </li>
                <li class="sidebar__item">
                    <a href="" class="sidebar__btn">Рейсы</a>
                </li>
                <li class="sidebar__item">
                    <a href="" class="sidebar__btn">Пассажиры</a>
                </li>
                <li class="sidebar__item">
                    <a href="" class="sidebar__btn">Самолеты</a>
                </li>
                <li class="sidebar__item">
                    <a href="" class="sidebar__btn">Уведомления</a>
                </li>
            </ul>
        </nav>
        <div class="sidebar__location">
            <span class="sidebar__country">Узбекистан</span>
        </div>
    </div>
    <div class="sidebar__account">
        <img class="sidebar__account-img" src="" alt="">
        <div class="sidebar__account-info">
            <span class="sidebar__account-name">Kianna Press</span>
            <span class="sidebar__account-position">Сержант</span>
        </div>
        <div class="sidebar__account-info">
            <span class="sidebar__account-name">Kianna Press</span>
            <span class="sidebar__account-position">Сержант</span>
        </div>
    </div>

</section>