.suspicion {
    position: relative;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        margin-bottom: 24px;

        @include mxw($lg) {
            margin-bottom: 8px;
        }
    }

    &__pagination {
        display: flex;
        justify-content: space-between;
        transform: translate(-19px, 3px);
    }


    &__btn {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;

        &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            top: 0;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &--prev::after {
            left: -5px;
            background-image: url('../images/sprite.svg#sidebar-searchCountry-icon');
        }

        &--next::after {
            right: -7px;
            background-image: url('../images/sprite.svg#sidebar-searchCountry-icon');
            transform: rotate(180deg);
            filter: invert(32%) sepia(98%) saturate(4220%) hue-rotate(217deg) brightness(98%) contrast(87%);
        }
    }

    &__count {
        color: #172B4D;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.176px;
    }

    &__box {
        display: flex;
        justify-content: space-between;


        @include mxw($lg) {
            zoom: 90%;
        }

        @include mxw($md) {
            zoom: 80%;
        }

        @include mxw($sm) {
            zoom: 70%;
        }
    }

    &__card {
        max-width: 610px;
        width: 100%;
        margin-right: 24px;
        background-color: #fff;
        padding: 24px;
        border: 1px solid var(--Border-Light, #E7E8E9);
        display: flex;
        justify-content: space-between;

        @include mxw($sm) {
            padding: 16px;
        }
    }

    &__notice {
        width: 153px;
        margin-right: 24px;
    }


    &__flight {
        width: 100%;
        background-color: #fff;
        padding: 24px;
        border: 1px solid var(--Border-Light, #E7E8E9);

        @include mxw($sm) {
            padding: 16px;
        }
    }

    &__photo {
        margin-bottom: 8px;
        width: 151px;
        height: 151px;
        object-fit: cover;
    }

    &__warnning {
        padding: 18px 32px;
        background-color: #DC2626;
    }

    &__warnning-text {
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;

        span {
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__data {
        width: 385px;
    }

    &__name-details {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__name {
        color: #2C2E30;
        font-size: 24px;
        font-weight: 600;
        line-height: 133.333%;
        letter-spacing: -0.464px;
        margin-bottom: 16px;
    }

    &__text {
        color: #172B4D;
        font-size: 16px;
        font-weight: 500;
        line-height: 162.5%;
        letter-spacing: -0.176px;
        margin-bottom: 35px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__flight-name {
        display: block;
        color: #172B4D;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.336px;
        margin-bottom: 26px;

        span {
            color: #2563EB;
        }

        @include mxw($sm) {
            margin-bottom: 16px;
        }
    }

    &__flight-item {
        @include mxw($sm) {
            margin-bottom: 8px;
            padding-bottom: 8px;
        }
    }

}