.airplane-details {
    &__container {
        display: grid;
        grid-template-columns: 320px 1fr;
        justify-content: space-between;
        @include mxw($md) {
            grid-template-columns: 250px 1fr;
        }
    }

    &__left{
        border-right: 1px solid #e4e7ed;
        background: var(--Background-Light, #FBFBFC);
    }



    .left-details__num {
        margin-bottom: 16px;
    }

    .blue-span {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
    }

    &__crew {
        color: #172B4D;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.176px;
        margin-bottom: 16px;
    }

    // .right-details__title {}

    .main-details {
        &__box {
            display: none;

            &.show {
                display: grid;
            }

            @include mxw($md) {
                grid-template-columns: 1fr 280px;
            }
        }

        &__list {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__center {
            padding: 24px 24px 0 24px;
        }

        &__ticket-right {
            &::after {
                display: none;
            }
        }

        &__ticket-name {
            margin-right: 0;
            &::after {
                display: none;
            }
        }

        &__ticket-details {
            position: absolute;
            right: 12px;
            top: 15px;
            border-radius: 6px;
            background-color: var(--Action-Light, rgba(35, 55, 55, 0.05));
            color: var(--Text-Primary, #2C2E30);
            text-align: right;
            font-size: 13px;
            font-weight: 600;
            line-height: 12px;
            padding: 10px;
            transition: background-color .3s linear;

            &:hover {
                background-color: var(--Action-Light, rgba(35, 55, 55, 0.15));
            }
        }

        &__ticket-info {
            display: grid;
            grid-template-columns: 163px 1fr;
            gap: 16px 40px;
        }
    }

    .right-details {
        &__title {
            margin-right: 0;
        }

        &__group {
            display: flex;
            align-items: center;
            border: 1px solid #E4E7ED;
            background: var(--white-100, #FFF);

            @include mxw($md) {
                zoom: 80%;
            }
        }

        &__input,
        &__number {
            font-size: 14px;
            font-weight: 550;
            line-height: 22px;
            letter-spacing: -0.128px;
            color: #172B4D;
        }

        &__input {
            padding: 16px 0 16px 16px;
            width: 100%;
            display: block;

            &::placeholder {
                color: var(--Text-Secondary, #A0A3A6);
            }
        }

        &__number {
            margin-right: 16px;
        }
    }

}